In [1]:

print("hello")

hello

In [2]:
age=int(input("Enter a your age"))
if age>=21:
    print("You can drive")
else:
    print("you can not drive")

You can drive

In [3]:
appleprice=2000
budget=3000
if (budget-appleprice>50):
    print("Please take 1 kg of an apple")
else:
    print("do not buy one kg of an apple")

Please take 1 kg of an apple

Nested if

In [4]:
num=19
if num<0:
    print("Number is negative")
elif (num>0):
    if(num<=14):

SyntaxError: incomplete input (4449351.py, line 6)

In [ ]:
x=int(input("Enter the value of x: "))
match x:
    case 0:
        print("x is zero")
    case 4:
        print("case is 4")
    case _:
        print(x)

case is 4

In [ ]:
colors=["red", "green", "yellow","pink","blue"]
for color in colors:
    print(color)
    for i in color:
        print(i)

red
r
e
d
green
g
r
e
e
n
yellow
y
e
l
l
o
w
pink
p
i
n
k
blue
b
l
u
e

In [ ]:
for i in range(1,10):
    print(i,"*",2)

1 * 2
2 * 2
3 * 2
4 * 2
5 * 2
6 * 2
7 * 2
8 * 2
9 * 2

In [ ]:
for i in range(14):
    print("5 x",i+1, "=", 5*i+1)
    if (i==10):
        break

5 x 1 = 1
5 x 2 = 6
5 x 3 = 11
5 x 4 = 16
5 x 5 = 21
5 x 6 = 26
5 x 7 = 31
5 x 8 = 36
5 x 9 = 41
5 x 10 = 46
5 x 11 = 51

#Functions

In [ ]:
# video 20
def calcGmean(a,b):
    mean=(a*b)/(a+b)
    print(mean)
    
def isGreater(a,b):
   if a>b:
      print("First is the greater")
   else:
      print("Second is the greater")
a=4
b=5
isGreater(a,b)
calcGmean(a,b)


c=7
d=6

isGreater(c,d)
calcGmean(c,d)

Second is the greater
2.2222222222222223
First is the greater
3.230769230769231

In [ ]:
#video 21

def average():
    print("the sverage of number is",(a+b)/2)
    
a=5
b=7
average()

the sverage of number is 6.0

In [ ]:
def average(a=9,b=1):
    print("The average is",(a+b)/2)
    
average(b=9)


def name(fname,mname="Dewansh",lname="Mishra"):
    print("Hello,",fname,mname,lname)
    
name("dew","kumar")

The average is 9.0
Hello, dew kumar Mishra

In [ ]:
def average(*numbers):
    sum=0
    for i in numbers:
        sum=sum+i
    print("Average is:",sum/len(numbers))
    
average(7,9,4,6,7,9)

Average is: 7.0

In [ ]:
def name (**name):
    print("hello,",name ["fname"],name["mname"],name["lname"])

name(mname="bushan",lname="singh",fname="james")

hello, james bushan singh

In [ ]:
def average(*numbers):
    sum=0
    for i in numbers:
        sum=sum+i
    return sum/len(numbers)

c=average(5,6,7,8)
print(c)

6.5

#list

In [ ]:
l=[3,5,6,7,"shreyansh"]
print(l)
type(l)
print(l[0])
print(l[1])
l.append(10)
print(l)
print(l[-2])
if 7 in l:
    print("yes")
else:
    print("no")
    
    
if 'hre' in 'shreyansh':
    print("yes")
    
print(l[0:len(l)])

[3, 5, 6, 7, 'shreyansh']
3
5
[3, 5, 6, 7, 'shreyansh', 10]
shreyansh
yes
yes
[3, 5, 6, 7, 'shreyansh', 10]

#lsit comprehension

In [ ]:
list=[i*i for i in range(10) if i%2==0]
print(list)

[0, 4, 16, 36, 64]

In [ ]:
list1=[2,7,73,77,92,81,11,23]
list1.sort(reverse=True)   #reversing order important for decreasing order
print(list1)

[92, 81, 77, 73, 23, 11, 7, 2]

In [ ]:

list1=[2,7,73,77,92,81,11,23]
list1.reverse()
print(list1)

[23, 11, 81, 92, 77, 73, 7, 2]

In [9]:
print(list1.index(2))

NameError: name 'list1' is not defined

In [ ]:
print(list1.count(73))

1

In [ ]:
m=list1.copy()
m[0]=0
print(m)

[0, 11, 81, 92, 77, 73, 7, 2]

In [ ]:
list1.insert(1,666)
print(list1)

[0, 666, 11, 81, 92, 77, 73, 7, 2]

In [ ]:
m=[99,100,101]
list1.extend(m)
print(list1)

[0, 666, 11, 81, 92, 77, 73, 7, 2, 99, 100, 101]

#Dictionary

In [ ]:
dic={"name":"Dewansh", "age":22,"gender":"male"}
print(dic)
print(dic['age'])
print(dic.get('gender'))
print(dic.keys())
print(dic.values())

for key in dic.keys():
    print(dic[key])

{'name': 'Dewansh', 'age': 22, 'gender': 'female'}
22
female
dict_keys(['name', 'age', 'gender'])
dict_values(['Dewansh', 22, 'female'])
Dewansh
22
female

In [5]:
print(dic.items())

NameError: name 'dic' is not defined

In [15]:
dic1={"name":"Dewansh", "age":22,"gender":"male"}
dic2={61:"shivansh", "agee":24,"geender":"male"}
dic3={60:"Devash", "aage":23,"geeender":"male"}
dic1.update(dic2)
print(dic1)
dic1.update(dic3)
print(dic1)
dic3.pop(60)
dic3.popitem()

{'name': 'Dewansh', 'age': 22, 'gender': 'male', 61: 'shivansh', 'agee': 24, 'geender': 'male'}
{'name': 'Dewansh', 'age': 22, 'gender': 'male', 61: 'shivansh', 'agee': 24, 'geender': 'male', 60: 'Devash', 'aage': 23, 'geeender': 'male'}

('geeender', 'male')

In [17]:
del dic1["age"]
print(dic1)

KeyError: 'age'

In [ ]:
computer=-1 0 1