# Type

In [1]:
x=5
print(x)

x=6
print(type(x))

y="hello world"
print(type(y))

d={"Name":"Dewansh", "Age":22}
print(type(d))
print(d)

5
<class 'int'>
<class 'str'>
<class 'dict'>
{'Name': 'Dewansh', 'Age': 22}

# List

In [6]:
my_list=[1,2,3,4,5]
print(type(my_list))

my_list.append(5)
print(my_list)

my_list.remove(2)
print(my_list)

my_list[0]=6
print(my_list)

if 4 in my_list:print("4 is in my_list")

z=3.76
z1=int(z)
print(type(z1))

age=16
if(age>=18):
    print("eligible for vote")
else:
    print("not eligible for vote")

a=6
b=8
c=a>b
print(type(c))
print(c)


my_list[0]=8
print(my_list)

<class 'list'>
[1, 2, 3, 4, 5, 5]
[1, 3, 4, 5, 5]
[6, 3, 4, 5, 5]
0 is in my_list
<class 'int'>
not eligible for vote
<class 'bool'>
False
[8, 3, 4, 5, 5]

# List

In [7]:
simple_list=[2,3,3,4,5,6,7,8,"Dewansh",False]
print(type(simple_list))
print(simple_list)

simple_list.append(99)             # here we will not use more than two values and add in the list
print(simple_list)

simple_list.remove(3)              # here we will not use more than two values
print(simple_list)

print(simple_list[2])
print(simple_list[5])
print(simple_list[-3])       # important point
# print(simple_list[9])

if "Dewansh" in simple_list:print(True)     
if False in simple_list:
 print("True")    
else:
    print("False")      
    
    if "ansh" in "Dewansh":         #important
        print("yes")
    else:
        print("no")  


print(simple_list[:])       #important
print(simple_list[1:-1])
print(simple_list[1:7:2])    #jumped

<class 'list'>
[2, 3, 3, 4, 5, 6, 7, 8, 'Dewansh', False]
[2, 3, 3, 4, 5, 6, 7, 8, 'Dewansh', False, 99]
[2, 3, 4, 5, 6, 7, 8, 'Dewansh', False, 99]
4
7
Dewansh
True
True
[2, 3, 4, 5, 6, 7, 8, 'Dewansh', False, 99]
[3, 4, 5, 6, 7, 8, 'Dewansh', False]
[3, 5, 7]

# SET

In [5]:
mySet={2,3,4,5,1,4,8}

mySet.add(9)
print(mySet)

mySet.remove(5)
print(mySet)

if 2 in mySet:
    print("it is present")

{1, 2, 3, 4, 5, 8, 9}
{1, 2, 3, 4, 8, 9}
it is present

# Dictionary

In [6]:
myDisctionary={"name":"Dewansh", "age":22,"gender":"female"}
print(myDisctionary)

myDisctionary['occupation']='Data Analytics'
print(myDisctionary)

myDisctionary['schooling']='LPS'    # for adding something
print(myDisctionary)


del myDisctionary['age']   #for deleting the variable
print(myDisctionary)

if'name' in myDisctionary:
    print("is in myDisctionary")

{'name': 'Dewansh', 'age': 22, 'gender': 'female'}
{'name': 'Dewansh', 'age': 22, 'gender': 'female', 'occupation': 'Data Analytics'}
{'name': 'Dewansh', 'age': 22, 'gender': 'female', 'occupation': 'Data Analytics', 'schooling': 'LPS'}
{'name': 'Dewansh', 'gender': 'female', 'occupation': 'Data Analytics', 'schooling': 'LPS'}
is in myDisctionary

# Homework of Set and Dictionary

In [7]:
myDisctionary1={"hello",1,2,3,4,5.99,6.01,7,"Yes","give_someting",False, }
print(type(myDisctionary1))
print(myDisctionary1)

harry=set()           #important
print(type(harry))

for value in myDisctionary1:         #important
    print(value)
    
    
s1={1,2,3,7,31,44}            # intersection and union
s2={36,5,3,7,8}
print(s1.union(s2))
print(s1.intersection(s2))
s1.update(s2)
print(s2, s1)


cities1={"delhi","mumbai","lucknow","kolkata","chennai","rewa"}
cities2={"chicago","berminghum","canberra","paris","tokyo","new york"}
cities3=cities1.union(cities2)
print(cities3)
print(cities1.isdisjoint(cities2))     #no sets are common between them




myDisctionary2={"human being":"Dewansh", "gender":"male","roll number":19,"religion":"hindu","category":"general"}
print(myDisctionary2)

<class 'set'>
{False, 1, 2, 3, 4, 5.99, 6.01, 7, 'hello', 'Yes', 'give_someting'}
<class 'set'>
False
1
2
3
4
5.99
6.01
7
hello
Yes
give_someting
{1, 2, 3, 36, 5, 7, 8, 44, 31}
{3, 7}
{3, 36, 5, 7, 8} {1, 2, 3, 36, 5, 7, 8, 44, 31}
{'delhi', 'mumbai', 'canberra', 'berminghum', 'chicago', 'new york', 'chennai', 'paris', 'rewa', 'kolkata', 'tokyo', 'lucknow'}
True
{'human being': 'Dewansh', 'gender': 'male', 'roll number': 19, 'religion': 'hindu', 'category': 'general'}

In [5]:
#fabinaco series 1,1,2,3,5,8,13,...... till 15 terms

a=1
b=1
i=2
num=15
print(a)
print(b)
while(i<num):
    na=a+b
    print(na)
    a=b
    b=na
    i+=1

1
1
2
3
5
8
13
21
34
55
89
144
233
377
610

In [5]:
num=int(input("Enter a number "))
sum=0
i=num
while(i>0):
    digit=i%10
    sum=sum+digit**3
    i=i//10
if(num==sum):
      print(num,"number is armstrong")
else:
      print("number is not armstrong")

153 number is armstrong